@import url('https://fonts.googleapis.com/css?family=Rubik');

html {
    height: 100%;
    width: 100%;
    font-family: 'Rubik';
    color: black;
}
.header {
    text-align: center;
    padding: 20px;
    margin: 0;
}
a 
.calcDiv {
    align-items: center;
    justify-content: center;
    width: 100px;
    padding: 0;
    margin: 10em;

}
.ButtonDiv {
    width: 100%;

}
.mainbg {
    background-image: url(WebBack.png);
    background-repeat: no-repeat;
    background-size: cover;
}
button {
    font-family: 'Rubik';
}
.button {
    background-color: #FFFFFF;
    color: #000000;
    padding: 10px;
    height: 40px;
    width: 60px;
    align-items: center;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin:10px;
}
.delbutton {
    background-color: #00008B;
    color: #ffffff;
    padding: 10px;
    height: 40px;
    width: 60px;
    align-items: center;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin:10px;
}
.degbutton {
    background-color: #08bf08;
    color: #ffffff;
    padding: 10px;
    height: 40px;
    width: 60px;
    align-items: center;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin:10px;
}
.radbutton {
    background-color: #9d0707;
    color: #ffffff;
    padding: 10px;
    height: 40px;
    width: 60px;
    align-items: center;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin:10px;
}
.textDiv {
    background-color: #000000;
    color: white;
    width: 544px;
    padding: 10px;
    border-radius: 10px;
    height: 30px;
    text-align: right;
    align-items: center;
}
.sinbutton {
    background-color: #9d0707;
    color: #ffffff;
    padding: 10px;
    height: 40px;
    width: 60px;
    align-items: center;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin:10px;
}
.tanbutton {
    background-color: #9d0707;
    color: #ffffff;
    padding: 10px;
    height: 40px;
    width: 60px;
    align-items: center;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin:10px;
}
.cosbutton {
    background-color: #9d0707;
    color: #ffffff;
    padding: 10px;
    height: 40px;
    width: 60px;
    align-items: center;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin:10px;
}
.negbutton {
    background-color: #9d0707;
    color: #ffffff;
    padding: 10px;
    height: 40px;
    width: 60px;
    align-items: center;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin:10px;
}
.sqrtbutton {
    background-color: #9d0707;
    color: #ffffff;
    padding: 10px;
    height: 40px;
    width: 60px;
    align-items: center;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin:10px;
}
.factorialbutton {
    background-color: #9d0707;
    color: #ffffff;
    padding: 10px;
    height: 40px;
    width: 60px;
    align-items: center;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin:10px;
}
